
.resultsbox{
    /* width: 90%; */
    height: 100%;
    min-height:50px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(3, 148, 136, 0.671)1%,rgba(170, 91, 0, 0.589)105%,silver 0%)!important;
    min-height: 762px;
    display:grid;
}
.score1{
    margin-top:50px;
    width:100px;
    text-align:center;
}
.score2{
    margin-top:30px;
    width:100px;
    float:right;
    text-align:center;
}
.container{
      width:auto;
  }
.results{
    margin-bottom: 45px;
    text-align:center;
    min-width:160px;
}
.chatbox{
    border: 1px gray solid;
    width: 85%;
    height: 72%;
    position:relative;
    top:10px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background: linear-gradient(244deg, rgba(255, 255, 255, 0.479)-5%,rgba(220, 148, 89, 0.137)20%,rgba(0, 180, 165, 0.26)60%);
}
.pick{
    background-color: rgba(170, 91, 0, 0.589);
}
.card-body{
    padding:0;
}
.players{
    max-width: 200px;
    min-width:200px;
}
.player1, .player2, .head{
    background-color: aqua;
    background: rgba(3, 148, 136, 0.671);
}
.chatcontainer{
    border: 1px darkgrey solid;
    width:90%;
    height: 215px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    background-color: rgba(220, 147, 89, 0.849);
}
.holychat{
    background-color: white;
    z-index:3;
    margin-right:auto;
    margin-left:auto;
    display:block;
    margin-top:-60px;
    min-width:250px;
    position:relative;
    left: 190px;
}
.login:hover{
    background-color: rgba(70, 189, 179, 0.521);
    border: 1px rgba(33, 153, 143, 0.671) solid;
    box-shadow: 6px 8px 7px 0px black;
}
.card{
    box-shadow: 3px 2px 4px 1px black;
}
.little{
border: 1px solid black;
width: 100%;
height: 250px;
display: grid;
margin-left: auto;
margin-right: auto;
position: relative;
background-color: white;
z-index: 100;
}
.chatholder{
    border: 0.1px solid rgba(0, 0, 0, 0.452);
    padding: 5px;
    text-align: center;
    background: rgba(3, 148, 136, 0.671);
    box-shadow: 3px 2px 4px 1px black;
}
.modal-body{
background-color: rgba(119, 119, 119, 0.596);
}
.modal-header{
    background-color: rgba(220, 147, 89, 0.849);
}
.footy{
    background-color: rgba(17, 139, 139, 0.712);
}
.choice, .choice2{
margin:5px;
}
.chatentry{
    position:absolute;
    bottom:6px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
}
#send{
    box-shadow: 3px 2px 1px 0px black;
    font-size:10px;
    background-color: rgba(68, 239, 245, 0.356);
    left: 10px;
    position:relative;
    top:2px;
}
#message{
    position:relative;
    left: 5px;
    width:110%; 
    font-size:12px;
    background-color: rgba(255, 255, 255, 0.384);
    border: grey 1px solid;
}
.player1choice,.player2choice{
    text-align:center;
    min-height:75px;
}
.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-backdrop .fade .in {
    opacity: 0.5 !important;
  }
  .modal-backdrop.fade {
      opacity: 0.5 !important;
  }
  .sent{
      font-size: 12px;
      color: black;
      padding: 5px;
      background-color: lightgray;
      border-radius: 19%;
      margin:5px;
  }
  #send:hover{
      border: 1px black solid;
  }
  .submit:hover{
    box-shadow: 3px 4px 5px 0px black;
    background-color:rgba(1, 126, 131, 0.795);
    border: 1px black solid;
  }
  .sentholder{
    text-align: right;
    margin: 5px;
  }
  .repliesholder{
    text-align: left;
    margin: 5px;
  }
  .replies{
    font-size: 12px;
    color: black;
    padding: 2px;
    background-color: lightskyblue;
    border-radius: 19%;
    text-align: left;
  }
  .login{
      margin: 5px;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 4px 6px 4px 0px black;
      border: 1px rgba(3, 148, 136, 0.671) solid;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right:66px;
  }
  .hide{
      display:none;
  }
  .submit{
    box-shadow: 3px 3px 2px 0px black;
    background-color: rgba(0, 169, 175, 0.795);
    border: 1px black solid;
  }
  
  .logo{
      height:250px;
      width:360px;
      margin-left: auto!important;
      margin-right: auto;
      position: relative;
      left:130px;
  }
  .col1{
      margin-right: 30px;
  }
  .col2{
    margin-right: 30px;

  }

  @media only screen and (max-width: 768px){
    .col1{margin-right:10px;}
    .col2{ margin-right:10px;}
    .results{ min-width:150px;}
    .players{ min-width:150px;}
    .login{right:50px;}
    .logo{left:70px;}
    .holychat{left:120px;}
  }
  @media only screen and (max-width: 580px){
    .col1{margin-right:5px;}
    .col2{ margin-right:5px;}
    .results{ min-width:0px;}
    .players{ min-width:0px;}
    .logo{left:30px;}
    .holychat{left:75px;}
    .login{right:40px;}
  }
  @media only screen and (max-width: 370px){
    .col1{margin-right:0px;}
    .col2{ margin-right:0px;}
    .results{ min-width:0px;}
    .players{ min-width:0px;}
    .logo{left:30px;}
    .holychat{left:75px;}
    .login{right:40px;}
  }